<div class="column-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <a target="_blank" class="hyperlink">
        <p class="ig-typography__subtitle-2">Home</p>
      </a>
      <p class="ig-typography__subtitle-2 text">
        &gt;
      </p>
      <a target="_blank" class="hyperlink_1">
        <p class="ig-typography__subtitle-2">CRM</p>
      </a>
    </div>
    <h6 class="content">
      CRM Analytics Examples
    </h6>
    <p class="content">
      CRM dashboards give your team members a snapshot of metrics that matter the most. It is used track and display insights of your performance effectiveness to determine what actions should be taken next.
    </p>
  </div>
  <div class="row-layout group_3">
    <igx-card class="card">
      <igx-card-media height="280px" class="media-content">
        <img src="https://static.infragistics.com/marketing/reveal/solutions/crm-analytics/reveal-solution-crm-analytics-sales-dashboard-1100.jpg" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Dashboard Title
        </h3>
        <h5 igxCardHeaderSubtitle>
          Business, tags, whatever
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            GET SOLUTION
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              star
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-media height="280px" class="media-content">
        <img src="https://static.infragistics.com/marketing/reveal/solutions/crm-analytics/reveal-solution-crm-analytics-customer-dashboard-1100.jpg" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Dashboard Title
        </h3>
        <h5 igxCardHeaderSubtitle>
          Business, tags, whatever
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            GET SOLUTION
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              star
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-media height="280px" class="media-content">
        <img src="https://static.infragistics.com/marketing/reveal/solutions/crm-analytics/reveal-solution-crm-analytics-kpi-dashboard-1100.jpg" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Dashboard Title
        </h3>
        <h5 igxCardHeaderSubtitle>
          Business, tags, whatever
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            GET SOLUTION
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              star
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-media height="280px" class="media-content">
        <img src="https://static.infragistics.com/marketing/reveal/solutions/crm-analytics/reveal-solution-crm-analytics-ecommerce-dashboard-1100.jpg" class="image" />
      </igx-card-media>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Dashboard Title
        </h3>
        <h5 igxCardHeaderSubtitle>
          Business, tags, whatever
        </h5>
      </igx-card-header>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            GET SOLUTION
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              star
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon class="icon">
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
