:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  --igx-navbar-background: white;
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 240px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 4;
}
.navbar-content {
  gap: 1rem;
}
.image {
  object-fit: cover;
  height: 42px;
  min-width: 0;
  min-height: 0;
  max-height: 42px;
  flex-shrink: 0;
}
.text {
  color: hsla(var(--ig-gray-500));
  height: max-content;
  min-width: min-content;
}
.text_1 {
  color: hsla(var(--ig-gray-800));
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 8px 0;
  min-width: 50px;
  min-height: 50px;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
