/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Roboto", $type-scale: $bootstrap-type-scale);

$custom-palette: palette(
  $primary: #007bff,
  $secondary: #6c757d,
  $surface: #f8f9fa,
  $success: #28a745,
  $info: #17a2b8,
  $variant: 'bootstrap');
@include bootstrap-light-theme($custom-palette);

body {
  background: hsla(var(--ig-surface-500));
  color: var(--ig-surface-500-contrast);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
